
body {
	margin: 0px;
	padding: 0px;
		background-color: rgba(0,0,0,0.1);
}

.header {
	width: 100%;
	height: 3.5em;
	background-color: rgba(0,0,0,0.1);
	margin: 0px;
	padding: 0px;
}

.container {
	width: 100%;
	height: 100%;
}

.button {
	width: 3em;
	height: 3em;
	display:inline-block;
}

.logo {
	width: 5em;
	height: 3em;
	display: inline-block;
	margin: 0.25em -0.7em;

}

.logo-image {
	width: 5em;
	height: 3em;
}

.button-image {
	width: 3em;
	height: 3em;
}

.rot90 {
	transform: rotate(270deg);
}

.button:hover {
  background-color:  rgba(0,0,0,0.1);;
}

.logo:hover {
  background-color:  rgba(0,0,0,0.1);;
}

.text-box {
	padding: 0.60em;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: 0.8em 0em 0em 1.0em;
}
